body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../level/back.png') no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.level-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.level-btn:hover {
    background-color: lightgray;
}
