body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('../board/back.png') no-repeat center center/cover;
    color: white;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.leaderboard {
    background: black;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    color: black;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
